body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.title {
  margin: 20px auto;
}

.form-container {
  max-width: 65%;
  margin: 0 auto;
  }
  
.chart-container {
  max-width: 75%;
  margin: 0 auto;
  }
  
.is-danger {
  border-color: #f14668;
  }
  
.small-font {
    font-size: 0.9rem !important;
}
  
.delete-icon {
  color: #ff4d4d;
}

/* モバイルサイズで表示を切り替える */
.mobile-hidden {
  display: block;
}
.mobile-visible {
  display: none;
}

/* モバイルサイズのメディアクエリ */
@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
  .mobile-visible {
    display: block;
  }
}