body {
  font-family: Arial, sans-serif;
}

.title {
  margin: 20px auto;
}

.form-container {
  max-width: 80%;
  margin: auto;
}
  
.chart-container {
  max-width: 70%;
  margin: auto;
}
  
.list-container {
  max-width: 90%;
  margin: auto;
}
  
.is-danger {
  border-color: #f14668;
  }
  
.small-font {
  font-size: 0.9rem !important;
}
  
.edit-icon {
  color: #3F8ED0;
}

.delete-icon {
  color: #f14668;
}

/* モバイルサイズで表示を切り替える */
.mobile-hidden {
  display: block;
}
.mobile-visible {
  display: none;
}

/* モバイルサイズのメディアクエリ */
@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
  .mobile-visible {
    display: block;
  }
}

/* テーブルヘッダー */
#inquiries_table th {
    position: relative;
}

#inquiries_table th.sortable::after {
    content: '▲▼';
    position: absolute;
    top: 26px;
    font-size: 0.6em;
    color: #3F8ED0;
    display: inline-block;
}

#inquiries_table th.no-sort::after {
    content: ''; /* ▲▼非表示 */
}